@import '../abstract/variaveis';

.cabecalho{
    background-color: $cor-de-fundo-gelo;
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    
        .nav__titulo{
            @include padrao-h2;

            &::before{
                content: url(../../../assets/img/icon/auto_awesome_black_24dp\ 1.svg);
            }
        }

        .nav__email{
            font-weight: 700;
        }
    }
}