@import '../abstract/variaveis';

.cabecalho{
    background-color: $cor-de-fundo-gelo;
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    
        .nav__titulo{
            @include padrao-h2;

            &::before{
                content: url(../../../assets/img/icon/auto_awesome_black_24dp\ 1.svg);
            }
        }

        .lista-links{
            display: none;
        }

        .nav__email{
            font-weight: 700;
            .nav-item{
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .cabecalho{
        .nav__container{
            .nav__lista{
                display: flex;
                gap: 2rem;

                .lista-links{
                    display: flex;
                    justify-content: flex-end;
                    gap: 2rem;

                    .lista-item{
                        .link-item{
                            text-decoration: none;
                            font-weight: 500;
                            color: black;

                            &:hover{
                                font-weight: 700;
                                text-decoration: underline;
                            }

                            &:active{
                                color: rgb(103, 68, 68);
                            }

                        }
                    }
                }

                .nav__email{
                    .link-p{
                        text-decoration: none;
                        color: black;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
}