@import '../abstract/variaveis';

.formacao-academica{
    background-color: $cor-de-fundo-azul;
    padding: 1rem 1rem;

    .formacao-academica__titulo{
        @include padrao-h2;
        padding: 1rem 0;
        text-align: center;
    }

    .formacao-academica__div-instituicao{
        padding: 1rem 1.5rem;
        line-height: 1.5rem;
        
        .div-instituicao__img{
            width: 100%;
        }

        .div-instituicao__titulo{
            
            font-weight: 700;
            
        }

        .div-instituicao__descricao{
           
            font-weight: 500;
            
        }
    }
}

@media screen and (min-width: 768px) {

    .formacao-academica{
        .formacao-academica__div-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}