@import '../abstract/variaveis';

.formacao-academica{
    background-color: $cor-de-fundo-azul;

    h2{
        @include padrao-h2;
        padding-bottom: 1rem;
        text-align: center;
    }

    div{
        padding: 1rem 1.5rem;
        line-height: 1.2rem;
        img{
            width: 100%;
        }

        p{
            &:nth-child(1){
                font-weight: 700;
            }
        }

        p{
            &:nth-child(2){
                font-weight: 500;
            }
        }
    }
}