@import '../abstract/variaveis';

.formacao-academica{
    background-color: $cor-de-fundo-azul;
    padding: 1rem 1rem;

    h2{
        @include padrao-h2;
        padding: 1rem 0;
        text-align: center;
    }

    div{
        padding: 1rem 1.5rem;
        line-height: 1.5rem;
        img{
            width: 100%;
        }

        h3{
            
            font-weight: 700;
            
        }

        p{
           
            font-weight: 500;
            
        }
    }
}