@import '../abstract/variaveis';

header{
    background-color: $cor-de-fundo-gelo;
    padding: 1rem 1rem;
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        h1{
            @include padrao-h2;

            &::before{
                content: url(../../../assets/img/icon/auto_awesome_black_24dp\ 1.svg);
            }
        }
        margin-bottom: 2rem;
    }
}