@import '../abstract/variaveis';

.introducao{
    padding: 1rem 1rem;
    background-color: $cor-de-fundo-gelo;
    .introducao__img{
        width: 98px;
        height: 98px;
    }

    .introducao__titulo{
        @include padrao-h2;
        margin-top: 1rem;
    }

    .introducao__descricao{
        padding: 1rem 0;
        // line-height: 1.2rem;
    }

    .lista-redes-sociais{
        display: flex;
        justify-content: space-evenly;
        
        
        .item-lista-redes-sociais {

            .link-lista-redes-sociais{
                font-size: $texto-padrao;
                text-decoration: none;
                font-weight: $peso-link;
                color: $cor-link;
                cursor: pointer;
    
                &::after{
                content: url(../../../assets/img/icon/Vector.svg);
                margin-left: 0.3rem;
                }
                
                &:active{
                    color: $cor-link;
                }
    
            }
            
        }
    }
}