@import '../abstract/variaveis';

.skills-e-hobbies{
    background-color: $cor-de-fundo-gelo;
    
    h2{
        @include padrao-h2;
        padding-bottom: 1rem;
        text-align: center;
    }

    .skills-ferramentas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // column-gap: 1.3rem;
        row-gap: 1.7rem;
        font-weight: 700;
        justify-content: space-between;

        .lista-item__redes-sociais{
         
            background-color: white;
            width: 90%;
            height: 140px;
            border-radius: 0.3rem;
            box-shadow: 1px 1px 1px 1px #CCC;
            padding: 4rem 0.7rem 0 0.7rem;
            box-sizing: border-box;
            line-height: 1.3rem;
        }
    }
}