@import '../abstract/variaveis';

.sobre-mim{
    padding: 1.0rem 1rem;

    background-color: $cor-de-fundo-azul;

    h2{
        @include padrao-h2;
    }

    p{
        padding: 0.5rem 0;
    }
   
}