@import './variaveis';

html, body{
    font-family: $fonte;   
    color: #464646;
}

//função para padronizar o título

.cabecalho, .skills-e-hobbies, .formacao-academica, .experiencia-profissional, .contato, footer{
    padding: 1rem 1rem;
}

@mixin padrao-h2{
    font-size: $titulo-nome;
    font-weight: $peso-titulo;
}

@media screen and (min-width: 768px) {
    .cabecalho, .introducao, .sobre-mim, .skills-e-hobbies, .formacao-academica, .experiencia-profissional, .contato, .rodape{
        padding: 1rem 2rem;
    }

}
