html, body {
  font-family: "Raleway", sans-serif;
  color: #464646;
}

.cabecalho, .skills-e-hobbies, .formacao-academica, .experiencia-profissional, .contato, footer {
  padding: 1rem 1rem;
}

@media screen and (min-width: 768px) {
  .cabecalho, .introducao, .sobre-mim, .skills-e-hobbies, .formacao-academica, .experiencia-profissional, .contato, .rodape {
    padding: 1rem 2rem;
  }
}
.cabecalho {
  background-color: #fffafa;
}
.cabecalho .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.cabecalho .nav__container .nav__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}
.cabecalho .nav__container .nav__titulo::before {
  content: url(../../../assets/img/icon/auto_awesome_black_24dp\ 1.svg);
}
.cabecalho .nav__container .nav__email {
  font-weight: 700;
}

.introducao {
  padding: 1rem 1rem;
  background-color: #fffafa;
}
.introducao .introducao__img {
  width: 6.125rem;
  height: 6.125rem;
}
.introducao .introducao__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}
.introducao .introducao__descricao {
  padding: 1rem 0;
}
.introducao .lista-redes-sociais {
  display: flex;
  justify-content: space-evenly;
}
.introducao .lista-redes-sociais .item-lista-redes-sociais .link-lista-redes-sociais {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.introducao .lista-redes-sociais .item-lista-redes-sociais .link-lista-redes-sociais::after {
  content: url(../../../assets/img/icon/Vector.svg);
  margin-left: 0.3rem;
}
.introducao .lista-redes-sociais .item-lista-redes-sociais .link-lista-redes-sociais:active {
  color: black;
}

@media screen and (min-width: 768px) {
  .introducao {
    padding: 2rem 2rem;
  }
  .introducao .introducao__img {
    float: right;
    width: 10rem;
    height: 10rem;
    padding: 0 2rem;
  }
}
.sobre-mim {
  padding: 1rem 1rem;
  background-color: #EAF2FD;
}
.sobre-mim .sobre-mim__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}
.sobre-mim .sobre-mim__descricao {
  padding: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .sobre-mim {
    padding: 1rem 2rem;
  }
}
.skills-e-hobbies {
  background-color: #fffafa;
}
.skills-e-hobbies h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
}
.skills-e-hobbies .skills-ferramentas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.7rem;
  font-weight: 700;
  justify-content: space-between;
}
.skills-e-hobbies .skills-ferramentas .lista-item__redes-sociais {
  background-color: white;
  width: 90%;
  height: 140px;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px 1px #CCC;
  padding: 4rem 0.7rem 0 0.7rem;
  box-sizing: border-box;
  line-height: 1.3rem;
}

@media screen and (min-width: 768px) {
  .skills-e-hobbies .skills-ferramentas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.formacao-academica {
  background-color: #EAF2FD;
  padding: 1rem 1rem;
}
.formacao-academica .formacao-academica__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
}
.formacao-academica .formacao-academica__div-instituicao {
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
}
.formacao-academica .formacao-academica__div-instituicao .div-instituicao__img {
  width: 100%;
}
.formacao-academica .formacao-academica__div-instituicao .div-instituicao__titulo {
  font-weight: 700;
}
.formacao-academica .formacao-academica__div-instituicao .div-instituicao__descricao {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .formacao-academica .formacao-academica__div-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.experiencia-profissional {
  padding: 2rem 2rem;
  background-color: #fffafa;
}
.experiencia-profissional h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  text-align: center;
}
.experiencia-profissional div {
  line-height: 1.5rem;
}
.experiencia-profissional div img {
  width: 100%;
}
.experiencia-profissional div h3 {
  font-weight: 700;
}
.experiencia-profissional div p {
  font-size: 14px;
}
.experiencia-profissional div div {
  margin: 1rem 0;
}
.experiencia-profissional div div a {
  text-decoration: none;
  padding: 0.6rem 0.4rem;
  margin: 0 0.5rem 0 0;
  color: #2A7AE4;
  background-color: white;
  border: 1px solid #2A7AE4;
}

.contato {
  background-color: #EAF2FD;
  padding: 1rem 2rem;
}
.contato h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.contato p {
  padding: 1rem 0;
  line-height: 1.2rem;
}
.contato input {
  display: block;
  width: 100%;
  height: 3rem;
  margin: 1rem auto;
  border-radius: 0.3rem;
  border: none;
}
.contato input::-moz-placeholder {
  padding: 0.5rem;
  font-size: 12px;
  color: #A2A2A2;
}
.contato input::placeholder {
  padding: 0.5rem;
  font-size: 12px;
  color: #A2A2A2;
}
.contato textarea {
  display: block;
  width: 100%;
  margin: 1rem auto;
  border-radius: 0.3rem;
  border: none;
}
.contato textarea::-moz-placeholder {
  padding: 0.5rem;
  font-size: 12px;
  color: #A2A2A2;
}
.contato textarea::placeholder {
  padding: 0.5rem;
  font-size: 12px;
  color: #A2A2A2;
}
.contato button {
  color: white;
  background-color: #2A7AE4;
  width: 8rem;
  height: 3rem;
}

.rodape {
  padding: 1rem 2rem;
}
.rodape .rodape__descricao {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}/*# sourceMappingURL=style.css.map */